* {
/*     border: 1px solid black; */
    margin: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.header {
    width: 100%;
    display: grid;
    grid-template-columns: max-content auto;
}

.logo img {
    margin: 17px 10px 10px 20px;
    width: 95px;
    height: 40px;
}

a {
    text-decoration: none;
    color: black;
    font-weight:900;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #232b2d;
    position: absolute;
    margin-top: 20px;
}

.dropdown-content::before {
    content: "";
    position: absolute;
    top: -8px; /* Ajusta la posición del pico para asegurar su visibilidad */
    left: 20%;
    margin-left: -8px; /* Ajusta la posición del pico */
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: transparent transparent #232b2d transparent;
}

.dropdown-content a {
    font-size: 12px;
    color: white;
    font-weight: bold;
    display: block;
    margin: 15px 30px;
    padding: 5px;
    font-family: 'Noto Sans KR', sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
} 

.nav {
    display: flex;
    margin-top: 21px;
}

.nav a {
    margin-left: 32px;
    font-size: 0.9em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-layout {
    width: 87%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.title{
    display: grid;
    margin-bottom: 20px;
    margin-left: 60px;
}

a:hover, .img-list li a:hover{
    color: rgb(45, 159, 212);
}


.img-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
/*     grid-template-rows: repeat(2, 1fr); */
    gap: 25px;
    list-style: none;
    padding: 0;
    overflow: hidden;
}

.img-list img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.img-list li a{
    text-decoration: none;
    color: black;
    
}

.img-list img:hover {
    transform: scale(1.02); /* Ajusta según sea necesario para aumentar el tamaño al pasar el ratón por encima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Agrega una sombra muy transparente al pasar el ratón por encima */
}

.footer {
    text-align: center;
}

.redes {
    color: #333333;
    font-weight: bold;
    font-size: 16.5px;
    margin: 30px 0;
    display: block;
    text-align: center;
}

.redes a {
    margin: 6px;
}

.redes p {
    margin-bottom: 10px;
}

.disney {
    width: 80px;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.about-us {
    display: block;
    text-align: center;
    margin: 0 4%;
}

.about-us a {
    margin: 12px;
    font-size: 11px;
}

#copyright {
    color: black;
    font-size: 0.75em;
    margin: 30px 0;
    display: block;
    text-align: center;
    font-weight: 600;
}

.show-more {
    text-align: center;
}

.show-more-btn {
    margin-top: 40px;
    border: 1px solid #0077da;
    color: #fff;
    background-color: #0077da;
    display: inline-block;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 24px;
    height: 17px;
    min-width: 190px;
    box-shadow: none;
    font-size: 1rem;
    padding: 16px 32px;
    text-align: center;
    display: none;
    font-family: 'Noto Sans TC', sans-serif;
}

.nav2 {
    display:none;
}

.burger {
    width: 20px;
    margin-left: 16px;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
    .nav2 {
        display:flex;
        align-items: center;
    }
    .logo img {
        margin: 17px 0px 10px 0px;
        width: 95px;
        height: 40px;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

}


@media (max-width: 960px) {
    .img-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .img-list li:nth-child(n+7) {
        display: none;
    }

    :target .img-list li {
        display: none;
    }

    .show-more-btn {
        display:inline-block;
    }

}

@media (max-width: 480px) {
    .img-list {
        grid-template-columns: repeat(2, 1fr);
    }

}










